*{
    font-family: 'Andada Pro', serif;
}
.header{
    min-height: 3vh;
    width : 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 200px;

}

.nav-links{

    flex:1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 6px 12px;
    position: relative;
}

.nav-links ul li a{
    margin: 10px;
    color: black;
    text-decoration: blanchedalmond;
    font-size: 16px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(226, 55, 55);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

body {
    background-image: linear-gradient(rgb(238, 225, 207), rgb(255, 209, 149));
    padding-bottom: 500px;
}

.top {
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'Andada Pro', serif;
    
}
.rank1 {
    height: 35px;
    width: 35px;
    padding: 9px;
    text-align: center; 
    border-radius: 50%;
    display: inline-block;
    color:black;
    font-size:x-large;
    font-weight:500;
    background-color: #CE4747;
    margin-left: 20px;
}
.hallname1 {
    border-radius: 5px;
    background: #FFCC66;
    color: black;
    text-align: center; 
    display: inline-block;
    font-size:x-large;
    font-weight:500;
    padding: 12px;
    width: 420px;
    height: 35px;
    margin-left: 30px;
}
.hallname1:hover {
    background: maroon;
    color: white;
}
.rank2 {
    height: 28px;
    width: 28px;
    padding: 6px;
    text-align: center; 
    border-radius: 50%;
    display: inline-block;
    color:black;
    font-size:large;
    font-weight:500;
    background-color: #CE4747;
    margin-left: 26px;
}
.hallname2 {
    border-radius: 5px;
    background: #FFCC66;
    color: black;
    text-align: center; 
    display: inline-block;
    font-size:large;
    font-weight:500;
    padding: 10px;
    width: 370px;
    height: 16px;
    margin-left: 55px;
    margin-right: 35px
}
.hallname2:hover {
    background: maroon;
    color: white;
}
progress {
    border-radius: 2px;
    width: 530px;
    height: 30px;
    margin-left: 100px;
    text-align: left;
}

progress::-webkit-progress-bar {
    background: #CCCCCC;
}
progress::-webkit-progress-value {
    background: #CE4747;
}

.arrow {
    background: white;
    border-radius: 50%;
    display: inline-block;
    height: 28px;
    width: 28px;
    border: 4px solid grey;
    margin-left: 20px;
}
.arrow::after {
    content:"\276F";
    display: block;
    color: grey;
    font-weight: bold;
    font-size: 23px;
    font-family:'Gill Sans', sans-serif;
    text-align: center;
    transform: rotate(90deg);
}
.arrow:hover{
    height: 30px;
    width: 30px;
    border: 5px solid #404044;
    margin-left: 18px;
}
.spacer {
    padding-bottom: 20px;
}
