.header{
    min-height: 0vh;
    width : 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 20px;
    padding-top: 50px;
    padding-left: auto;
    padding-right: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}
nav img{
    width: 200px;
}
.nav-links{
    flex:1;
    text-align: right;
    font-family: 'Andada Pro', serif;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 6px 12px;
    position: relative;
    padding-bottom: 0px;
}
.nav-links ul li a{
    margin: 10px;
    color: black;
    text-decoration: blanchedalmond;
    font-size: 16px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

body {
    background-image: linear-gradient(rgb(242, 239, 222), rgb(240, 218, 188));
    padding-bottom: 250px;
    padding-left: 75px;
    padding-right: 75px;
}
.rank {
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    font-size:larger;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    background: burlywood;
    border: 1px solid black;
    text-align: center;
}
.hall {
    font-size:larger;
}
.score {
    padding-left: 15px;
    padding-right: 24px;
    float: right;
    height: 24px;
    width: 600px;
    background: linear-gradient(to right, maroon 0%, maroon 0%, lightgray 0%, lightgray 100%);
    font-size: larger;
    color: burlywood;
    border: 1px solid black;
    line-height: 24px;
}
.rank, .hall {display: inline;}
.cats {
    font-size:medium;
}
.scorerate {
    padding-left: 6px;
    color: burlywood;
    border: 1px solid black;
    font-size:small;
    height: 20px;
    width: 500px;
    line-height: 20px;
}
#convscore {
    background: linear-gradient(to right, maroon 0%, maroon 0%, lightgray 0%, lightgray 100%);
}
#comfscore {
    background: linear-gradient(to right, maroon 0%, maroon 0%, lightgray 0%, lightgray 100%);
}
#privscore {
    background: linear-gradient(to right, maroon 0%, maroon 0%, lightgray 0%, lightgray 100%);
}
#facscore {
    background: linear-gradient(to right, maroon 0%, maroon 0%, lightgray 0%, lightgray 100%);
}   
#cleanscore {
    background: linear-gradient(to right, maroon 0%, maroon 0%, lightgray 0%, lightgray 100%);
}
.revs {
    font-size:medium;
}
.revtext {
    font-size: medium;
    padding-left: 10px;
}
.vote {
    font-size:small;
    padding-left: 10px;
}
.likedis {
    float: right;
    padding-right: 12px;
    padding-top: 12px;
}
.resize {
    width:36px;
    height: auto;
    padding-left: 20px;
    opacity: 0.5;
    cursor: not-allowed;
}
.resizeActive {
    width:36px;
    height: auto;
    padding-left: 20px;
    opacity: 0.5;
}
.resizeActive:hover {
    width: 39px;
    opacity: 1;
}
.likedislike {
    font-size:medium;
    padding-left: 3px;
}
.tags {
    font-size: medium;
}
.tagtext {
    padding: 6px;
    border: 1px solid black;
    font-size: medium;
}
.based {
    font-size: smaller;
    float: right;
    padding-right: 12px;
}
.revspace {
    padding-bottom: 10px;
}
.tagspace {
    padding: 3px;
}