.top {
    font-weight: bolder;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}
.rank1 {
    height: 35px;
    width: 35px;
    padding: 9px;
    text-align: center; 
    border-radius: 50%;
    display: inline-block;
    color:black;
    font-size:x-large;
    font-weight:500;
    background-color: #CE4747;
    margin-left: 20px;
}
.hallname1 {
    border-radius: 5px;
    background: #FFCC66;
    text-align: center; 
    display: inline-block;
    font-size:x-large;
    font-weight:500;
    padding: 12px;
    width: 450px;
    height: 35px;
    margin-left: 30px;
}
.rank2 {
    height: 28px;
    width: 28px;
    padding: 6px;
    text-align: center; 
    border-radius: 50%;
    display: inline-block;
    color:black;
    font-size:large;
    font-weight:500;
    background-color: #CE4747;
    margin-left: 26px;
}
.hallname2 {
    border-radius: 5px;
    background: #FFCC66;
    text-align: center; 
    display: inline-block;
    font-size:large;
    font-weight:500;
    padding: 10px;
    width: 400px;
    height: 16px;
    margin-left: 55px;
    margin-right: 35px
}

progress {
    border-radius: 2px;
    width: 600px;
    height: 30px;
    margin-left: 100px;
}

progress::-webkit-progress-bar {
    background: #CCCCCC;
}
progress::-webkit-progress-value {
    background: #CE4747;
}

.arrow {
    background: white;
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 5px solid grey;
    margin-left: 20px;
}
.arrow::after {
    content:"\276F";
    display: block;
    color: grey;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    transform: rotate(90deg);
}
.arrow:hover{
    height: 32px;
    width: 32px;
    border: 6px solid #404044;
    margin-left: 18px;
}