.header{
    min-height: 0vh;
    width : 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}
nav img{
    width: 200px;
}

.nav-links{
    flex:1;
    text-align: right;
    font-family: 'Andada Pro', serif;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 6px 12px;
    position: relative;
    padding-bottom: 0px;
}

.nav-links ul li a{
    margin: 10px;
    color: black;
    text-decoration: blanchedalmond;
    font-size: 16px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}
body {
    background-image: linear-gradient(rgb(238, 225, 207), rgb(255, 209, 149));
    padding-left: 75px;
    padding-right: 75px;
}
.selectsec {
    padding: 30px;
    padding-top: 18px;
    padding-bottom: 45px;
}
.selecthalls {
    font-weight: bold;
    font-size: large;
}
.ask {
    font-size: medium;
    font-weight: normal;
    padding-left: 30px;
}
.centerbutton {
    text-align: center;
}
.shift {
    padding-left: 30px;
    padding-bottom: 10px;
}
input[type="range"] {
    width: 369px;
}
.centertext {
    text-align: center;
    font-size: 21px;
}
